.game-screen {
    padding: 80px;
    padding-left: 200px;
    padding-right: 200px;
}

.gameplay-background {
    background-color: #222;
}

/*====================RESOURCE CONTAINERS==================*/
.left-resource-container {
    position: absolute;
    display: block;
    left: 200px;
    top: 60px;
    bottom: 200px;
    text-align: left;
    width: 220px;
}

.right-resource-container {
    position: absolute;
    display: block;
    right: 200px;
    top: 60px;
    bottom: 200px;
    text-align: right;
    width: 220px;
}

.resource-item {
    padding: 5px;
}

/*====================BOTTOM CONTAINER==================*/
.cards-container {
    background: -webkit-radial-gradient(center,ellipse cover, #4d5b69 50%, #000000 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px inset;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #3e4b57;
    background-color: #ffffff;
    position: absolute;
    right: 190px;
    bottom: 0;
    left: 190px;
    margin: 10px;
}

div.cards {
    padding-top: 10px;
    height: 175px;
    overflow: auto;
    white-space: nowrap;
}

div.cards button {
    font-size: 12px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.cards button:hover {
    border-width: 3px;
    border-color: #ffd000;
    background-color: #3e4b57;;
}


/*====================LEFT CONTAINER==================*/
.container-left {
    background: -webkit-radial-gradient(center,ellipse cover, #4d5b69 50%, #000000 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px inset;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #3e4b57;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 45px;
    margin: 10px;
    width: 175px;
    overflow-y: scroll;
}

div.items {
    padding-left: 7px;
    width: 175px;
    overflow: auto;
    white-space: nowrap;
}

div.items button {
    font-size: 12px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.items button:hover {
    border-width: 3px;
    border-color: #ffd000;
    background-color: #3e4b57;;
}

/*====================RIGHT CONTAINER==================*/
.container-right {
    background: -webkit-radial-gradient(center,ellipse cover, #4d5b69 50%, #000000 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px inset;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #3e4b57;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 45px;
    margin: 10px;
    width: 175px;
    overflow-y: scroll;
}

div.enemy-items {
    padding-left: 7px;
    width: 175px;
    overflow: auto;
    white-space: nowrap;
}

div.enemy-items button {
    font-size: 12px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.enemy-items button:hover {
    border-width: 3px;
    border-color: #ffd000;
    background-color: #529fff;
}


/*======================CHAT CONTAINER=====================*/
.chat-component {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #3e4b57;
    position: absolute;
    bottom: 200px;
    right: 500px;
    left: 500px;
    margin: 10px;
}

.chat-container {
    background: -webkit-radial-gradient(center,ellipse cover, #ffda8b 50%, #ab8458 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px inset;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #dd9000;
    top: 0;
    bottom: 25px;
    right: 0;
    left: 0;
    margin: 5px;
    height: 200px;
    overflow-y: scroll;
}

div.chat-items {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

/*==================CHAT TABLE=============*/
.chat-table {
    border-collapse: collapse;
    width: 100%;
}

.chat-table td, .chat-table th {
    border: 1px solid #dd9000;
    padding: 5px;
}


/*================KINGS===================*/
.left-king {
    position: absolute;
    bottom: 200px;
    left: 370px;
    margin: 10px;
}

.right-king {
    position: absolute;
    bottom: 200px;
    right: 370px;
    margin: 10px;
}

.pedestal-right {
    border-width: 1px;
    border-style: solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #000000;

    background: linear-gradient(to right, rgb(152, 180, 189) 0%, rgb(63, 84, 96) 50%, rgb(21, 34, 42) 100%);
    margin-top: -10px;
    margin-left: 30px;
    margin-right: 30px;
}

.pedestal-left {
    border-width: 2px;
    border-style: solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #000000;

    background: linear-gradient(to right, rgb(152, 180, 189) 0%, rgb(63, 84, 96) 50%, rgb(21, 34, 42) 100%);
    margin-top: -10px;
    margin-left: 30px;
    margin-right: 30px;
}