.game-screen {
    padding: 80px;
    padding-left: 200px;
    padding-right: 200px;
}

/*===========BUTTONS===========*/
.card-button {
    height: 150px;
    width: 130px;
    text-align: left !important;
    font-size: 8px;
    padding: 0;
    white-space: normal;
}

.update-button {
    height: 70px;
    width: 150px;
    text-align: left !important;
    font-size: 8px;
    padding: 0;
    white-space: normal;
}

.building-button {
    height:120px;
    width: 150px;
    text-align: left !important;
    font-size: 8px;
    padding: 0;
    white-space: normal;
}

.building-img {
    height: auto;
    width: auto;
    max-width: 140px;
    max-height: 140px;
    margin: -50px 0 -20px -14px;
    pointer-events: none;
}

.building-text {
    text-shadow: 2px 0 0 #15222a, -2px 0 0 #15222a, 0 2px 0 #15222a, 0 -2px 0 #15222a, 1px 1px #BFBFBF, -2px -2px 0 #15222A, 1px -1px 0 #BFBFBF, -1px 1px 0 #BFBFBF;
}

.big-text-number {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 20px;
}

.small-icon {
    height: auto;
    width: auto;
    max-width: 25px;
    max-height: 25px;
    margin-bottom: -5px;
    margin-top: 2px;
}

/*============TOOLTIP==============*/
.tooltip-component {
    font-size: 12px;
    visibility: hidden;
    position: absolute;
    background: rgba(49, 60, 69, 0.9);
    padding: 10px;
    color: #eee;
    box-shadow:0px 0px 20px rgba(0,0,0,0.95);
    border-width: 3px;
    border-style: outset;
    border-radius: 8px;
    border-color: #668092 #556774 #556774 #668092;

    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

/*====================RESOURCE CONTAINERS==================*/
.resource-item {
    color: #ffd000;
    font-size: 10px;
    cursor: hand;
}
.resource-item-img {
    border-width: 0px;
    border-style: outset;
    border-radius: 8px;
    border-color: rgba(0,0,0,0);
}
.resource-item-img:hover {
    border-color: #af6b03;
    box-shadow: #af6b03 0px 0px 0px 3px;
}
.small-text {
    margin-left: -55px;
    position: relative
}

.inner-container {
    display: grid;
    grid-column-gap: 2px;
    grid-template-columns: auto auto auto;
}

.left-resource-container {
    position: absolute;
    left: 200px;
    top: 55px;
    bottom: 200px;
    text-align: left;
}

.right-resource-container {
    position: absolute;
    right: 200px;
    top: 55px;
    bottom: 200px;
    text-align: left;
}

/*====================BOTTOM CONTAINER==================*/
.cards-container {
    background: -webkit-radial-gradient(center,ellipse cover, #4d5b69 50%, #000000 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px inset;
    border-width: 4px;
    border-style: inset;
    border-radius: 8px;
    border-color: #668092 #556774 #556774 #668092;
    position: absolute;
    right: 190px;
    bottom: 0;
    left: 190px;
    margin: 10px;
}

div.cards {
    padding-top: 10px;
    height: 175px;
    overflow: auto;
    white-space: nowrap;
}

div.cards button {
    font-size: 12px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.cards button:hover {
    border-width: 3px;
    border-color: #ffd000;
    background-color: #3e4b57;
}


/*====================LEFT CONTAINER==================*/
.container-left {
    background: -webkit-radial-gradient(center,ellipse cover, #4d5b69 50%, #000000 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px inset;
    border-width: 4px;
    border-style: inset;
    border-radius: 8px;
    border-color: #668092 #556774 #556774 #668092;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 45px;
    margin: 10px;
    width: 175px;
    overflow-y: scroll;
}

div.items-header {
    width: 100%;
    height: 10px;
    font-size: 20px;
    text-align: center;
    color: #ffd000;
    padding-bottom: 7px;
    padding-top: 3px;
    text-shadow:1px 1px 10px #ffd000, 1px 1px 30px #ee0011;
}

div.items {
    padding-left: 7px;
    padding-bottom: 5px;
    width: 175px;
    overflow: auto;
    white-space: nowrap;
}

div.items button {
    font-size: 12px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    transition : border 500ms ease-out;
}

div.items button:hover {
    border-color: #ffd000;
    background-color: #3e4b57;
}

/*====================RIGHT CONTAINER==================*/
.container-right {
    background: -webkit-radial-gradient(center,ellipse cover, #4d5b69 50%, #000000 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px inset;
    border-width: 4px;
    border-style: inset;
    border-radius: 8px;
    border-color: #668092 #556774 #556774 #668092;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 45px;
    margin: 10px;
    width: 175px;
    overflow-y: scroll;
}

/*======================CHAT CONTAINER=====================*/
.chat-component {
    background-color: rgba(130, 150, 170, 0.4);
    border-width: 4px;
    border-style: outset;
    border-radius: 8px;
    border-color: #556774 #668092 #668092 #556774;
    position: absolute;
    bottom: 200px;
    right: 500px;
    left: 500px;
    margin: 10px;
}

.chat-container {
    background: -webkit-radial-gradient(center,ellipse cover, #ffda8b 50%, #ab8458 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 3px inset;
    border-width: 3px;
    border-style: inset;
    border-radius: 8px;
    border-color: #dd9000;
    top: 0;
    bottom: 25px;
    right: 0;
    left: 0;
    margin: 5px;
    height: 200px;
    overflow-y: scroll;
}

div.chat-items {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

/*==================CHAT TABLE=============*/
.chat-table {
    border-collapse: collapse;
    width: 100%;
}

.chat-table td, .chat-table th {
    border: 1px solid #9a6300;
    padding: 5px;
}


/*================KINGS===================*/
.power-percent {
    color: #ffd000;
    font-size: 15px;
    position:absolute;
    bottom: 0;
    width: 80px;
    text-align: center;
}

.left-king {
    position: absolute;
    bottom: 230px;
    left: 410px;
}

.right-king {
    position: absolute;
    bottom: 230px;
    right: 490px;
}

.left-chicken-img {
    position: absolute;
    left: -35px;
    height: auto;
    width: auto;
    max-width: 140px;
    max-height: 140px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.right-chicken-img {
    position: absolute;
    left: -25px;
    height: auto;
    width: auto;
    max-width: 140px;
    max-height: 140px;
}

/*==============CYLINDER=============*/
.cylinder .top {
    border-width: 2px;
    border-style: outset;
    border-color: #5d7688 #708e9d #708e9d #5d7688;
    width: 74px;
    height: 30px;
    -moz-border-radius: 60px / 25px;
    -webkit-border-radius: 60px / 25px;
    border-radius: 60px / 25px;
    position:absolute;
    background: -webkit-radial-gradient(center,ellipse cover, #556e7a 40%, #668092 60%);
}

.cylinder .middle {
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-style: outset;
    border-color: #5d7688 #708e9d #708e9d #5d7688;
    bottom: 0;
    width:74px;
    background: linear-gradient(to right, rgb(152, 180, 189) 0%, rgb(63, 84, 96) 50%, rgb(21, 34, 42) 100%);
    position:absolute;
}

.cylinder .bottom {
    border-width: 2px;
    border-style: outset;
    border-color: #5d7688 #708e9d #708e9d #5d7688;
    bottom:-15px;
    width: 74px;
    height: 30px;
    -moz-border-radius: 60px / 25px;
    -webkit-border-radius: 60px / 25px;
    border-radius: 60px / 25px;
    position:absolute;
    box-shadow:20px -10px 30px rgb(0,0,0);
    background: linear-gradient(to right, rgb(152, 180, 189) 0%, rgb(63, 84, 96) 50%, rgb(21, 34, 42) 100%);
}

/*=============CLOCK============*/
.count-down-time {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    text-align: center;
    color: #ffd000;
    font-size: 50px;
    text-shadow:1px 1px 10px #ffd000, 1px 1px 30px #ee0011;
}