.game-logo-font {
    font-size: 90px;
    color: white;
    text-shadow: 0 1px 0 #ffca6a,
    0 2px 0 #ffa97e,
    0 3px 0 #ff837d,
    0 4px 0 #ff3a33,
    0 5px 0 #ff0100,
    0 6px 0 #a40100,
    0 7px 0 #4d0100;
}

.radial-glow-background {
    opacity: 1;
    background: -webkit-radial-gradient(center,ellipse cover, #fff 20%, #888 100%);
}