@font-face {
    font-family: 'game-font';
    src: url(../font/CHMCPixel.ttf);
}

html {
    font-family: 'game-font';
}

body {
    border-width: 0;
    margin: 0;
    background-color: #f9f9ff;
}

.game-site-header {
    position: fixed;
    z-index: 999;
}
/*==================INFO TABLE=============*/
.info-table {
    border-collapse: collapse;
    width: 100%;
}

.info-table td, .info-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.info-table tr:nth-child(even){background-color: #f2f2f2;}

.info-table tr:hover {background-color: #ddd;}

.info-table th {
    font-family: 'game-font';
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: DodgerBlue;
    color: white;
}

/*====================MENU=====================*/

.ul-info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.ul-info li {
    float: left;
}

.ul-info li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ul-info li a:hover:not(.active) {
    background-color: #111;
}

.ul-info .active {
    background-color: #4b7caf;
}



/*=================Game Component Stiles=============*/
input[type=text], input[type=password] {
    margin: 5px;
    display: inline-block;
    box-sizing: content-box;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    color: rgb(0, 142, 198);
    text-align: left;
    text-indent: 0px;
    text-overflow: clip;
    letter-spacing: 0px;
    white-space: normal;
    word-spacing: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px 0px inset;
    text-shadow: rgba(255, 255, 255, 0.66) 1px 1px 0px;
    padding: 10px 20px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(183, 183, 183);
    border-image: initial;
    border-radius: 3px;
    font: 16px "game-font";
    text-decoration: none;
    background: rgb(252, 252, 252);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

button {
    margin: 5px;
    text-decoration: none;
    background: rgb(56, 136, 217);
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(1, 141, 196);
    border-image: initial;
    padding: 10px 10px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: 0;
    font: 16px "game-font";
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgba(187,187,187, 0.14) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
    transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

button:hover {
    border-radius: 5px;
    color: rgb(255, 228, 42);
}

button:active {
    top: 6px;
    color: rgb(159, 206, 255);
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
    transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.glow-effect {
    text-shadow:1px 1px 10px #00f2ff, 1px 1px 30px #eee;
}



